*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header {
    color: rgb(49, 48, 48);
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #24c4ec;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
h1 {
    font-size: 48px;
    color: #3b3b3b;
    margin: 20px;
    font-weight: bold;
}
h2 {
    font-size: 36px;
    color: #444;
    margin: 20px;
}
iframe {
    width: 600px;
    height: 400px;
    border: 2px solid #000;
    margin: 20px;
}
.redes{
    margin: 20px;
    font-size: 24px;
    color: #555;
    text-align: center;
}
p {
    font-size: 28px;
    color: #333;
    margin: 28px;
}
.btn{
    background-color: rgba(50, 50, 50, 0.499);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    width: 550px;
    margin: 20px 5px 10px 420px;
    display: block;
    border-radius: 25px;
    text-decoration: none;
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    margin: 50px 0px 50px 0px;
    font-size: 25px;
    cursor: pointer;

}
a {
    color: inherit;
    transition: color 0.1s ease;
}

a:hover {
    color: #f609de;
}
a:active {
    color: rgb(0, 255, 64);
}
